.algn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.dropCl {
    background-color: rgb(47, 46, 46);
}

.start:hover {
    background-color: rgb(84, 84, 84);
}

.icon {
    padding: 20px;
    cursor: pointer;
}

.icon:hover {
    background-color: rgb(84, 84, 84);
}


.bodydesktop {
    margin: 0px;
    padding: 0px;
    background-image: url('../assets/images/wp5493583-original-blue-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}


.deskicon {
    width: 8%;
    height: 15%;
    margin: 1%;
    padding: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px #000000;
    cursor: pointer;
}

.deskicon:hover {
    background-color: rgba(228, 218, 218, 0.41);
    text-decoration: underline;
}

.vr {
    position: absolute;
    top: 0;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 40vh;
    width: 1px;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: rgba(37, 127, 245, 0.13);
}

.cont:hover {
    background-color: rgba(37, 127, 245, 0.13);
    cursor: pointer;
}

.smlicon:hover {
    background-color: rgb(84, 84, 84);
}


.imgMod {
    width: 120px;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.imgMod img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
    margin-left: 5px;
}

.imgModBig {
    width: calc(60% - 32px);
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-left: 180px;
    padding: 8px;
}

.imgModBig img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}
